DEEPSEEK_API_KEY=
LIFI_COMMON_API_URL=https://li.quest
LIFI_EARN_API_URL=https://earn.li.fi
LIFI_COMPOSER_API_URL=https://li.quest
LIFI_COMPOSER_API_KEY=
# 设为 true 开启 portfolio 测试数据
NEXT_PUBLIC_USE_MOCK_PORTFOLIO=false
ALCHEMY_API_KEY=
